body{
  margin: 0;
  padding: 0;
  background-color: black;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.app {
  position: relative;
  height: 750px;
  width: 380px;
  border-radius: 40px;
  background-color: rgb(38, 38, 38);
  padding: 20px;
}

svg {
  fill: white;
}

nav{
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

h1, h2, p {
  margin: 4px;
}

h1 {
  font-size: 20px;
}

.sub-text {
  color: grey;
}

a {
  text-decoration: none;
  color: grey;
}

header .info-container{
  display: flex;
  justify-content: space-between;
}

header .image-container{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

header .image-container img{
  height: 100%;
}

header .threads-info{
  background-color: rgb(160, 159, 159);
  color: rgb(75, 75, 75);
  font-size: 12px;
  padding: 3px 6px;
  border-radius: 20px;
}

button.primary{
  border: rgb(160, 159, 159) 1px solid;
  background-color: transparent;
  padding: 7px;
  margin: 15px 0;
  border-radius:  7px;
  color: white;
  font-weight: bold;
  width: 100%;
}

.button-container button{
  border: none;
  background-color: transparent;
  padding: 7px;
  color: white;
  font-weight: bold;
  width: 50%;
  border-bottom: grey solid 1px;
}

.button-container button.current {
  border-bottom: rgb(214, 211, 211) solid 2px;
}

.feed-card .icons svg {
  height: 20px;
  padding: 0 5px;
}

.feed-card{
  border-bottom: 1px solid white;
  padding: 10px 0;
}

.feed-card .text-container{
  display: flex;
  justify-content: space-between;
}

.feed-card .image-container{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  overflow: hidden ;
}

.feed-card .image-container img{
  height: 100%;
}

.feed {
  height: 400px;
  overflow-x: scroll;

}

input {
  background: transparent;
  border: 1px solid white;
  padding: 10px;
  width: 100%;
  margin: 10px 0;
  box-sizing: border-box;
  border-radius: 5px;
  color: white;
}
input:focus{
  outline: none;
}

.popup{
  position: absolute;
  bottom: 0;
  left: 0;
  height: 650px;
  width: 380px;
  border-radius: 40px;
  background-color: rgb(58, 53, 53);
  padding-block-start: 20px;
  overflow-y: scroll;
  box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px;
}